body,
html {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  background-color: #0f1319;
}

#root {
  height: 100vh;
  background-color: #0f1319;
}
